$light:rgb(245, 245, 245);
$primary:rgb(16, 120, 151);
@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-color: rgb(204, 204, 204);
    background-image: url(../assets/cool-background.png);
}

.bx{
    box-shadow: 2px 2px 20px rgba($color: #444444, $alpha: 0.6);
}
a.nav-link{
    font-size: larger;

}
button.btn-outline-success:hover {
    color: #fff;
    background-color: #80fbff;
    border-color: #80fbff;
}

div.list-group.haction :hover{
    background-color: rgb(126, 226, 235);

    
}

.list-group-item-action:hover{
    background-color: skyblue;
}
.list-group-item-action:focus{
    background-color: skyblue;
    color: white;
}


